@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');


.exp_container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5rem;
    width: 80vw;
}

.exp_container .pointer_wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 2rem;
}

.exp_container h1 {
	font-size: 4rem;
    font-family: 'Montserrat';
}

.exp_container h2 {
	font-size: 2.5rem;
}

.exp_container p{
    position: relative;
    font-size: 1rem;
    opacity: 0.4;
}

.exp_container ul{
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    font-size: 1rem;
    float: left;
}

.exp_container li{
    float: left;
}

.exp_container meta {
	width: 75vw;
    font-size: 2rem;
    position: relative;
    top:-6rem;
    opacity: 0.4;
}

