@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');



.test {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 12rem;
}

.test p {
    position: relative;
    top:-4rem;
    font-size: 2rem;
    opacity: 0.4;
}
